
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../wallpaperRamen.png'); 
    image-rendering: auto;
  }

  main {
    flex: 1 0 auto;
  }

/* footer */
.page-footer {
    background-color: black;
    padding-top: 0px;
}

/* Ramen masuta Header */
.Header {
    font-family: 'Heebo Black', sans-serif;
    font-weight: bolder;
    color: black;
}

#Ramen {
    margin-bottom: 0%;
}

#Masuta {
    margin-top: 0%;
}

h1 {
    margin-bottom: 2.8rem;
}

/* background pictures */
#title {
 background-color: red;
}

#about {
    background-color: blue;
}

#misc {
    background-color: brown;
}



/* navabar */

.nav-wrapper {
    background-color: black;
    border-bottom: 10px;
    border-bottom-color: white;
}

/* text align center */

.container {
    text-align: center;
}

