/* footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.page-footer {
    background-color: black;
}

/* background pictures */
#title {
 background-color: red;
}

#about {
    background-color: blue;
}

#misc {
    background-color: brown;
}



/* navabar */

.nav-wrapper {
    background-color: black;
}

/* text align center */

.container {
    text-align: center;
}
